KAFKA_ADDRESS=

#NLTransaction API & DB
NLT_DB_USER=
NLT_DB_PASS=
NLT_DB_NAME=
NLT_JDBC=
NLT_JDBC_PROD=jdbc:postgresql://db-service-transaction:XXXX/transaction_db

#NLCore API & DB

#NLCore API
NLC_DB_PORT=
NLC_DB_USER=
NLC_DB_PASS=
NLC_DB_NAME=
NLC_JDBC=
NLC_JDBC_PROD=jdbc:postgresql://db-service-core:XXXX/core_api